<% content_for :page_title, "Edit Object or Type" %>
<div class="container text-center">
  <%= simple_form_for @object_or_type do |f| %>
  <%= f.input :name, label_html: {class: "text-light"} %>
  <%= f.input :class_or_string, collection: [['Class', 'class'],
  ['String', 'string']], label_html: {class: "text-light"} %>
  <%= f.input :order, collection: 1..20, label_html: {class: "text-light"} %>
  <%= f.button :submit, class: "btn-lg btn-light" %>
  <% end %>
</div>
