<% content_for :home_class, "nav_item" %>
<% content_for :create_class, "nav_item active" %>
<% content_for :view_class, "nav_item" %>
<% content_for :page_title, "Build your story" %>
<div class="container text-center">
  <h4 class="text-light">Fill in the following fields, or click
    <button type="button" class="btn btn-light btn-lg">here</button>
    to randomly generate values</h4>
    <p class="lead bg-warning">Note: Story generation is random, and not
      everything entered is guaranteed to show up in the story</p>
  <%= simple_form_for(@story, as: :user, method: :get, url: new_story_path) do |f| %>
  <%= f.input :title, input_html: {name: "title"}, label_html: {class: "text-light"} %>
  <%= f.input :author, input_html: {name: "author"}, label_html: {class: "text-light"} %>
  <%= f.input :number_of_characters, as: :fake_select, collection: 1..20,
      selected: 4, label_html: {class: "text-light"} %>
  <div class="form-group row" id="characters">
    <div class="col-sm-4">
      <label class="text-light">Name</label>
      <input class="form-control" type="text" name="name[1]">
    </div>
    <div class="col-sm-4">
      <label class="text-light">Name</label>
      <input class="form-control" type="text" name="name[2]">
    </div>
    <div class="col-sm-4">
      <label class="text-light">Name</label>
      <input class="form-control" type="text" name="name[3]">
    </div>
    <div class="col-sm-4">
      <label class="text-light">Name</label>
      <input class="form-control" type="text" name="name[4]">
    </div>
  </div>
  <%= f.button :submit, "Build Story", class: "btn-lg btn-light" %>
  <% end %>
</div>
