<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <%= link_to "Story Builder", home_path, :class => "navbar-brand" %>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to "Home", home_path, :class => "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Create Story", create_path, :class => "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "View Stories", stories_path, :class => "nav-link" %>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main role="main" class="d-flex flex-shrink-0">
  <div class="container text-center">
    <h1 class="mt-5 text-light">New Story</h1>
    <%= simple_form_for @story do |f| %>
    <%= f.input :title, label_html: {class: "text-light"} %>
    <%= f.input :author, label_html: {class: "text-light"} %>
    <%= f.input :text, input_html: {rows: "8"}, label_html: {class: "text-light"} %>
    <%= f.button :submit, 'Create new story', class: "btn-lg btn-light" %>
    <% end %>
  </div>
</main>
