<% content_for :home_class, "nav_item" %>
<% content_for :create_class, "nav_item" %>
<% content_for :view_class, "nav_item" %>
<% content_for :page_title, "New Story" %>

<div class="container text-center">
  <%= simple_form_for @story do |f| %>
  <%= f.input :title, input_html: {value: @title}, label_html: {class: "text-light"} %>
  <%= f.input :author, input_html: {value: @author}, label_html: {class: "text-light"} %>
  <%= f.input :text, input_html: {rows: "8", value: @random_story}, label_html: {class: "text-light"} %>
  <%= f.button :submit, "Save Story", class: "btn-lg btn-light" %>
  <% end %>
</div>
