<% content_for :home_class, "nav_item" %>
<% content_for :create_class, "nav_item" %>
<% content_for :view_class, "nav_item" %>
<% content_for :page_title, "New Story" %>
<div class="container text-center">
  <%= simple_form_for @story do |f| %>
  <%= f.input :title, label_html: {class: "text-light"} %>
  <%= f.input :author, label_html: {class: "text-light"} %>
  <%= f.input :text, input_html: {rows: "8"}, label_html: {class: "text-light"} %>
  <%= f.button :submit, 'Create new story', class: "btn-lg btn-light" %>
  <% end %>
</div>
