<% content_for :page_title, "New Story" %>
<div class="container text-center">
  <button type="button" name="refresh" onclick="location.reload()"
  class="btn btn-light m-3">Retry</button>
  <%= simple_form_for @story do |f| %>
  <%= f.input :title, input_html: {value: @title}, label_html: {class: "text-light"} %>
  <%= f.input :author, input_html: {value: @author}, label_html: {class: "text-light"} %>
  <%= f.input :text, input_html: {rows: "8", value: @random_story}, label_html: {class: "text-light"} %>
  <%= f.input :user_id, input_html: {value: current_user.id, type: "hidden"}, label: false %>
  <%= f.button :submit, "Save Story", class: "btn-lg btn-light" %>
  <% end %>
</div>
