<% content_for :home_class, "nav_item" %>
<% content_for :create_class, "nav_item" %>
<% content_for :view_class, "nav_item" %>
<% content_for :verb_class, "nav_item" %>
<% content_for :page_title, "Verb" %>
<div class="container mt-2 p-3 bg-light text-center">
  <div class="row">
    <div class="col-sm-3">
      <h3><u>Story Part</u></h3>
      <h3><%= @verb.part %></h3>
    </div>
    <div class="col-sm-3">
      <h3><u>Verb</u></h3>
      <h3><%= @verb.name %></h3>
    </div>
      <% @verb.object_or_types.order([:order]).each do |object_or_type| %>
        <div class="col-sm-3">
          <h3><u><%= object_or_type.class_or_string.capitalize %></u></h3>
          <h3><%= object_or_type.name %></h3>
        </div>
      <% end %>
  </div>
  <%= link_to "Edit", edit_verb_path(@verb), class: "btn btn-secondary" %>
  <%= link_to "Delete", verb_path(@verb), method: :delete, data: {confirm: "Are you sure? "}, class: "btn btn-danger" %>
</div>
